<%- include("./partials/head") %>
<body>
  <%- include("./partials/header") %>
  <%- include("./partials/sidebar") %>
  <div class="main">
    <h2>Book details</h2>
    <h3><%= title %></h3>
    
    <p>Author: <a href="<%= book.author.url %>"><%= book.author.name %></a></p>
    <p>Summary: <%= book.summary %></p>
    <p>ISBN: <%= book.isbn %></p>
    <p>Genre:
    <% if (book.genre) { %>
      <% book.genre.forEach((genre, index) => { %>
      <a href="<%= genre.url %>"><%= genre.name %></a>
      <% if (index !== book.genre.length - 1) { %>
      <span>, </span>
      <% }})} %>
    </p>
    <h3>Copies</h3>
    <% if (book_instances.length) { %>
      <div>
        <% book_instances.forEach(book => { %>
          <ul>
            <li>
              <%= book.status %>
            </li> 
            <li><%= book.imprint %></li>
            <% if (book.due_back) { %>
            <li>Due back: <%= book.due_back_formatted %></li>
            <% } %>
            <li><%= book.id %></li>
          </ul>

        <% }) %>
        
      </div>


      </ul>
    <% } else { %>
      <p>There are no copies of this book.</p>
    <% } %>

    <a href="<%= book.url %>/delete">Delete book</a>
    <a href="<%= book.url %>/update">Edit book</a>
  </div>
</body>
</html>