<%- include("./partials/head") %>
  <body>
    <%- include("./partials/header") %>
    <%- include("./partials/sidebar") %>
    <div class="main">
      <ul>
        <li>Books: <%= book_count %></li>
        <li>Copies: <%= book_instance_count %></li>
        <li>Available copies: <%= book_instance_available_count %></li>
        <li>Authors: <%= author_count %></li>
        <li>Genres: <%= genre_count %></li>
      </ul>
    </div>
  </body>
</html>
